




h2{
    
    color: black;
    text-align: left;
}

h3{
    
    color: black;
    text-align: left;
}



.col-md-25{
    background-color: #BABBC0;  
    border-radius: 10px;
    text-align: left;
    float: left;
   
}

figure{
    text-align: center;
    float: left;
   
}

.col-md-25 img{
    display: block;
    margin: auto;
    
}



footer{
    background-color: #F1F3F3;
    text-align: center;
    margin-top: 0;
}